<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Ricevuti</title>

    <!-- Collegamento ai file CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}">
</head>
<body>

    <!-- Top Logo centrato -->
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/top logo-01.png') }}" alt="Logo Studio" class="logo">
    </div>

    <!-- Titolo della pagina -->
    <div class="page-header">
        <h1>Feedback Ricevuti</h1>
        
    </div>

    <!-- Pulsanti per tornare alla home e scaricare feedback -->
    <div class="buttons-container">
        <a href="/" class="btn">Torna alla Home</a>
        <a href="{{ url_for('export_feedback_csv') }}" class="btn">Esporta Feedback in CSV</a>
    </div>

    <!-- Contenuto dei feedback -->
    <div class="feedback-container">
        {% for feedback in feedbacks %}
            <div class="feedback-card">
                <h2>Feedback {{ feedback[0] }}</h2>
                <p><strong>PDF Utile:</strong> {{ feedback[1] }}</p>
                <p><strong>Parte Preferita:</strong> {{ feedback[2] }}</p>
                <p><strong>Argomenti da Approfondire:</strong> {{ feedback[3] }}</p>
                <p><strong>Problemi nel PDF:</strong> {{ feedback[4] }}</p>
                <p><strong>Dettagli dell'Errore:</strong> {{ feedback[5] }}</p>
                <p><strong>Navigazione Sito:</strong> {{ feedback[6] }}</p>
                <p><strong>Info Trovate:</strong> {{ feedback[7] }}</p>
                <p><strong>Info Cercate:</strong> {{ feedback[8] }}</p>
                <p><strong>Design del Sito:</strong> {{ feedback[9] }}</p>
                <p><strong>Suggerimenti:</strong> {{ feedback[10] }}</p>
            </div>
        {% endfor %}
    </div>

</body>
</html>
